@define-color gbbg #282828;
@define-color gbred #cc241d;
@define-color gbgreen #98971a;
@define-color gbyellow #d79921;
@define-color gbblue #458555;
@define-color gbpurple #b16286;
@define-color gbaqua #689d6a;
@define-color gborange #d65d0e;
@define-color gbgray #a89984;
@define-color gbgray2 #928374;
@define-color gbred2 #fb4934;
@define-color gbgreen2 #b8bb26;
@define-color gbyellow2 #fabd2f;
@define-color gbblue2 #83a598;
@define-color gbpurple2 #d3869b;
@define-color gbaqua2 #8ec07c;
@define-color gborange2 #fe8019;
@define-color gbfg #8ec07c;

@define-color gbbg0 #282828;
@define-color gbbg1 #3c3836;
@define-color gbbg2 #504945;
@define-color gbbg3 #665c54;
@define-color gbbg4 #7c6f64;

@define-color gbfg0 #fbf1c7;
@define-color gbfg1 #ebdbb2;
@define-color gbfg2 #d5c4a1;
@define-color gbfg3 #bdae93;
@define-color gbfg4 #a89984;

* {
  border: none;
  border-radius: 0;
}

window#waybar {
  background: @gbbg1;
  color: @gbfg;
}

#workspaces button {
  padding: 0 5px;
  color: @gbfg;
}

#workspaces button:hover {
  background: @gbbg4;
}

#workspaces button.focused, #workspaces button.active {
  background: @gbbg3;
  box-shadow: none;
}

#workspaces button.urgent {
  background: @gborange;
  box-shadow: none;
}

#pulseaudio:hover {
  background: @gbaqua;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    background: @gbbg1;
    color: @gbfg;
}

#battery.charging, #battery.plugged {
    background: @gbgreen2;
    color: @gbbg;
}

#battery.critical:not(.charging) {
    background: @gbred;
}

#network {
    background: @gbbg1;
}

#pulseaudio {
    background: @gbbg1;
}

#pulseaudio:hover {
  background: @gbbg2;
}

#pulseaudio.muted {
    background: @gbred;
}

#language {
    background: @gbbg1;
}
